.textarea {
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border: 5px solid rgb(99, 117, 144);
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:15px;
}

.input {
    width: 100%;
    padding:5px;
    border-radius:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}